/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "cabecera cabecera cabecera"
        "menu principal secundario"
        "menu publicidad secundario"
        "pie pie pie";
    grid-template-columns: 1fr 2fr 3fr;
    grid-gap: 1em; /* Espacio entre áreas */
    padding: 1em;
    box-sizing: border-box;
}

/* Estilo para la cabecera */
#cabecera {
    grid-area: cabecera;
    padding: 1em; /* Relleno de 1em */
    border-bottom: 2px solid #a5a1a1;
    text-align: center;
}

/* Estilo para el menú lateral (noticias, enlaces, publicidad) */
#menu {
    grid-area: menu;
    padding: 0.5em; /* Relleno de 0.5em */
    margin-bottom: 0.5em; /* Margen inferior de 0.5em */
    background-color: #f4f4f4;
    border: 1px solid #a5a4a4;
}

/* Noticias y secciones */
#noticias, #publicidad {
    padding: 0.5em;
    margin-top: 1em; /* Separación */
}

/* Publicidad */
#publicidad {
    margin-top: 1em; /* Separación de 1em del elemento superior */
    background-color: #f9f9f9;
    border: 1px solid #818181;
}

/* Estilo para el contenido principal */
#principal {
    grid-area: principal;
    padding: 0.5em;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Artículos */
.articulo {
    margin-bottom: 1em; /* Separación de 1em entre artículos */
}

.articulo img {
    margin: 0.5em; /* Margen de 0.5em alrededor de las imágenes */
    max-width: 100%; /* Ajusta el tamaño de la imagen */
    height: auto;
}

/* Estilo para la barra lateral secundaria */
#secundario {
    grid-area: secundario;
    padding: 0.5em;
    background-color: #f9f9f9;
    border: 1px solid #CC6600;
}

/* Estilo para el pie de página */
#pie {
    grid-area: pie;
    margin-top: 1em; /* Margen superior de 1em */
    padding: 0.5em 0; /* Relleno sólo en la parte superior e inferior */
    text-align: center;
    background-color: #eee;
    border-top: 2px solid #ccc;
}
