datospersonales{color:black;font-size:20px;background:#f0f0f0}
nombre {color:purple;font-size:20px}
apellidos {color:blue;font-size:28px}
nif{color:green;font-size:20px}
telefono{color:red;font-size:20px}
email{color:margin;font-size:20px}
direccion{color:purple;font-size:20px}
diudad{color:bold;font-size:20px}
cp{color:purple;font-size:20px}
datosacademicos{color:purple;font-size:20px}
faltas_de_asistencia{color:green;font-size:20px}
notas{color:red;font-size:20px}
