* {
    /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.container {
    padding: 20px;
    height: 100vh;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    /*  Gap  */
    gap: 25px 75px;
  
    /* Specific Gap */
    row-gap: 25px;
    column-gap: 75px;
    
    /* Or shorthand */
    gap: 25px 75px; 
}

.item {
    height: 100px;
    width: 200px;
    background: #78d6dd;
    border-radius: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 auto;
}