body{
    font-family: Arial, black;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1.4em; /*  interlineado de todo*/
    padding: 0.9em;
    box-sizing: border-box;
    grid-template-areas:
        "cabecera cabecera cabecera"
        "menu principal secundario"
        "menu publicidad secundario"
        "pie pie pie";
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1em;
    box-sizing: border-box;
}
h1{
    font-size: 1.6em;
}

/* Estilo para la cabecera */
#cabecera {
    grid-area: cabecera;
    padding: 1em; /* Relleno de 1em */
    border-bottom: 2px solid #ccc;
    text-align: center;
    margin-left: 0%;
}
#menu {
    grid-area: menu;
    padding: 0.5em; /* Relleno de 0.5em */
    margin-right: 1em; /* Margen derecho*/
    margin-bottom: 0.3em;
}
/* Noticias y secciones */
#menu a{
    color: #e6dcdc(255, 255, 255); /*cambieeeeeeeeeeeee*/

}
h2 noticias{
    color: #003366;
}
h2 publicidad{
    color: #555;

}
#publicidad a {
    font-size: #CC6600;
}
#secundarios {
    grid-area: secundario;
    padding: 0.9em;
    background-color: #f9f9f9;
    border: 1px solid #CC6600;
    font-size: #999;
    max-width: 900px;
    float:right;
    width:20%;
}
/* Estilo para el contenido principal */
#principal {
    grid-area: principal;
    padding: 0.5em;
    background-color: #fff;
    border: 1px solid #757575;
}

/* Artículos */
.articulo {
    margin-bottom: 1em; /* Separación de 1em entre artículos */
    color: #CC6600;
    font-size: 1.6em;
    grid-gap: 1.2em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

.articulo a {
    font-size: #CC6600;
}
.articulo img {
    margin: 0.5em; /* Margen de 0.5em alrededor de las imágenes */
    max-width: 100%; /* Ajusta el tamaño de la imagen */
    height: auto;
}

/* Estilo para el menú lateral (noticias, enlaces, publicidad) */
#pie {
    grid-area: pie;
    margin-top: 0.5em; /* Margen superior de 1em */
    padding: 0.5em 0; /* Relleno sólo en la parte superior e inferior */
    text-align: center;
    background-color: #eee;
    border-top: 2px solid #ccc;
}
ul,ul li{
    margin:0;
    padding:0;
    list-style:none;
}