* {
    /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.container {
    padding: 20px;
    height: 100vh;
    background-color: #eeeeee;

    /* Building columns */
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    gap: 5px;
  
    /* Repeated sizes */
    /* grid-template-columns: repeat(3, 1fr); */
    
}

.item {
    background: #fb6942;
    border-radius: 1rem;
    color: #fff;
    display: grid;
    place-items: center;
}