* {
    /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.container {
    padding: 20px;
    height: 50vh;
    background-color: #eeeeee;

    /* Usamos flexbox para organizar los botones */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}


.item {
    background: #8effff;
    border-radius: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}