*{
    /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.container {
    padding: 20px;
    height: 100vh;
    background-color: #ccbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Change the direction */
    flex-direction: column;
    gap: 5px;
}

.item {
    height: 100px;
    width: 200px;
    background: #f875e7;
    border-radius: 1rem;
    color: #c5baba;
    display: flex;
    justify-content: center;
    align-items: center;
}